.footer {
    padding-top: 40px;
    min-height: 378px;

    background-color: #1f1f1f;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;

    &--main {
        background-image: url(("../img/footer--main-bg.png"));
    }

    &__subscribe {
        padding-top: 42px;
        padding-bottom: 90px;
    }

    &__title {
        --title-gap: 20px;
        font-weight: normal;
        
        color: #EFEFEF;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;

        @include phone {
            flex-direction: column-reverse;
        }
    }

}