<section class="articles-featured">
    <div class="container container--big">
        <h2 class="articles-featured__title title title--center title--section-title">
            Featured Posts
        </h2>
        <div class="articles-featured__content">
            <ul class="list-reset articles-featured__list">
                <li class="articles-featured__item">
                    <article class="article-big article-big--road-ahead">
                        <img src="./img/articles/articles-featured/TheRoadAhead.png" alt="Article Poster" class="article-big__poster-image">
                        
                        <div class="article-big__category-tag">
                            <a href="#" class="article-big__category-link">Nature</a>
                        </div>
                        
                        <div class="article-big__content">
                            <h2 class="article-big__title">
                                <a href="#" class="article-big__link">
                                    The Road Ahead
                                </a>
                            </h2>
                            <p class="article-big__descr">
                                The road ahead might be&nbsp;paved&nbsp;&mdash; it&nbsp;might not&nbsp;be.
                            </p>
                            <div class="article-big__meta article-meta">
                                <div class="article-meta__owner">
                                    <div class="article-meta__author-avatar-block">
                                        <img src="./img/articles/articles-featured/article-author-1.png" alt="author's photo" class="article-meta__author-avatar-image">
                                    </div>
                                    <span class="article-meta__author-name article-meta__author-name--featured">Mat Vogels</span>
                                </div>
                                <time class="article-meta__date article-meta__date--featured">September 25, 2020</time>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="articles-featured__item">
                    <article class="article-big article-big--from-top-down">
                        <img src="./img/articles/articles-featured/from-top-down.png" alt="Article Poster" class="article-big__poster-image">
                        <div class="article-big__category-tag">
                            <a href="#" class="article-big__category-link">Advanture</a>
                        </div>
                        <div class="article-big__content">
                            <h2 class="article-big__title">
                                <a href="#" class="article-big__link">
                                    From Top Down
                                </a>
                            </h2>                       
                            <p class="article-big__descr">
                                Once a&nbsp;year, go&nbsp;someplace you&rsquo;ve never been before.
                            </p>
                            <div class="article-big__meta article-meta">
                                <div class="article-meta__owner">
                                    <div class="article-meta__author-avatar-block">
                                        <img src="./img/articles/articles-featured/article-author-2.png" alt="author's photo" class="article-meta__author-avatar-image">
                                    </div>
                                    <span class="article-meta__author-name article-meta__author-name--featured">William Wong</span>
                                </div>
                                <time class="article-meta__date article-meta__date--featured">September 25, 2020</time>
                            </div>
                        </div>
                    </article>
                </li>
            </ul> 
        </div>
    </div>
</section>