<section class="articles-recent">
    <div class="container container--big">
        <h2 class="articles-featured__title title title--center title--section-title">
            Most Recent
        </h2>
        <div class="articles-recent__content">
            <ul class="list-reset articles-recent__list">
                <li class="articles-recent__item">
                    <article class="article-small">
                        <div class="article-small__header">
                            <img src="./img/articles/articles-recent/article-recent-still-standing-tall.png"
                                alt="Article Poster" class="article-small__poster-image">
                        </div>
                        <div class="article-small__body">
                            <h2 class="article-small__title">
                                <a href="#" class="article-small__link">
                                    Still Standing Tall
                                </a>
                            </h2>
                            <p class="article-small__descr">
                                Life begins at&nbsp;the end of&nbsp;your comfort zone.
                            </p>
                        </div>
                        <div class="article-small__footer">
                            <div class="article-small__meta article-meta">
                                <div class="article-meta__owner">
                                    <div class="article-meta__author-avatar-block">
                                        <img src="./img/articles/articles-featured/article-author-2.png"
                                            alt="author's photo" class="article-meta__author-avatar-image">
                                    </div>
                                    <span class="article-meta__author-name">William Wong</span>
                                </div>
                                <time class="article-meta__date">9/25/2015</time>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="articles-recent__item">
                    <article class="article-small">
                        <div class="article-small__header">
                            <img src="./img/articles/articles-recent/article-recent-sunny-side-up.png"
                                alt="Article Poster" class="article-small__poster-image">
                        </div>
                        <div class="article-small__body">
                            <h2 class="article-small__title">
                                <a href="#" class="article-small__link">
                                    Sunny Side&nbsp;Up
                                </a>
                            </h2>
                            <p class="article-small__descr">
                                No&nbsp;place is&nbsp;ever as&nbsp;bad as&nbsp;they tell you it&rsquo;s going
                                to&nbsp;be.
                            </p>
                        </div>
                        <div class="article-small__footer">
                            <div class="article-small__meta article-meta">
                                <div class="article-meta__owner">
                                    <div class="article-meta__author-avatar-block">
                                        <img src="./img/articles/articles-featured/article-author-1.png"
                                            alt="author's photo" class="article-meta__author-avatar-image">
                                    </div>
                                    <span class="article-meta__author-name">Mat Vogels</span>
                                </div>
                                <time class="article-meta__date">9/25/2015</time>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="articles-recent__item">
                    <article class="article-small">
                        <div class="article-small__header">
                            <img src="./img/articles/articles-recent/article-recent-water-falls.png"
                                alt="Article Poster" class="article-small__poster-image">
                        </div>
                        <div class="article-small__body">
                            <h2 class="article-small__title">
                                <a href="#" class="article-small__link">
                                    Water Falls
                                </a>
                            </h2>
                            <p class="article-small__descr">
                                We&nbsp;travel not to&nbsp;escape life, but for life not to escape&nbsp;us.
                            </p>
                        </div>
                        <div class="article-small__footer">
                            <div class="article-small__meta article-meta">
                                <div class="article-meta__owner">
                                    <div class="article-meta__author-avatar-block">
                                        <img src="./img/articles/articles-featured/article-author-1.png"
                                            alt="author's photo" class="article-meta__author-avatar-image">
                                    </div>
                                    <span class="article-meta__author-name">Mat Vogels</span>
                                </div>
                                <time class="article-meta__date">9/25/2015</time>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="articles-recent__item">
                    <article class="article-small">
                        <div class="article-small__header">
                            <img src="./img/articles/articles-recent/article-recent-throught-the-mist.png"
                                alt="Article Poster" class="article-small__poster-image">
                        </div>
                        <div class="article-small__body">
                            <h2 class="article-small__title">
                                <a href="#" class="article-small__link">
                                    Through the Mist
                                </a>
                            </h2>
                            <p class="article-small__descr">
                                Travel makes you see what a&nbsp;tiny place you occupy in&nbsp;the world.
                            </p>
                        </div>
                        <div class="article-small__footer">
                            <div class="article-small__meta article-meta">
                                <div class="article-meta__owner">
                                    <div class="article-meta__author-avatar-block">
                                        <img src="./img/articles/articles-featured/article-author-2.png"
                                            alt="author's photo" class="article-meta__author-avatar-image">
                                    </div>
                                    <span class="article-meta__author-name">William Wong</span>
                                </div>
                                <time class="article-meta__date">9/25/2015</time>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="articles-recent__item">
                    <article class="article-small">
                        <div class="article-small__header">
                            <img src="./img/articles/articles-recent/article-recent-awaken-early.png"
                                alt="Article Poster" class="article-small__poster-image">
                        </div>
                        <div class="article-small__body">
                            <h2 class="article-small__title">
                                <a href="#" class="article-small__link">
                                    Awaken Early
                                </a>
                            </h2>
                            <p class="article-small__descr">
                                Not all those who wander are lost.
                            </p>
                        </div>
                        <div class="article-small__footer">
                            <div class="article-small__meta article-meta">
                                <div class="article-meta__owner">
                                    <div class="article-meta__author-avatar-block">
                                        <img src="./img/articles/articles-featured/article-author-1.png"
                                            alt="author's photo" class="article-meta__author-avatar-image">
                                    </div>
                                    <span class="article-meta__author-name">Mat Vogels</span>
                                </div>
                                <time class="article-meta__date">9/25/2015</time>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="articles-recent__item">
                    <article class="article-small">
                        <div class="article-small__header">
                            <img src="./img/articles/articles-recent/article-recent-try-it-always.png"
                                alt="Article Poster" class="article-small__poster-image">
                        </div>
                        <div class="article-small__body">
                            <h2 class="article-small__title">
                                <a href="#" class="article-small__link">
                                    Try it&nbsp;Always
                                </a>
                            </h2>
                            <p class="article-small__descr">
                                The world is&nbsp;a&nbsp;book, and those who do&nbsp;not travel read only one page.
                            </p>
                        </div>
                        <div class="article-small__footer">
                            <div class="article-small__meta article-meta">
                                <div class="article-meta__owner">
                                    <div class="article-meta__author-avatar-block">
                                        <img src="./img/articles/articles-featured/article-author-1.png"
                                            alt="author's photo" class="article-meta__author-avatar-image">
                                    </div>
                                    <span class="article-meta__author-name">Mat Vogels</span>
                                </div>
                                <time class="article-meta__date">9/25/2015</time>
                            </div>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</section>