<section class="hero-page hero-page--main">
    <div class="container hero-page__container">
        <div class="hero-page__content">
            <h1 class="hero-page__title title title--center title--hero">
                Let's do it together.
            </h1>
            <p class="hero-page__descr descr descr--center descr--hero">
                We travel the world in search of stories. Come along for the ride.
            </p>
            <div class="hero-page__btns">
                <button class="btn-reset btn btn--fill btn--hero hero-page__btn">
                    View Latest Posts
                </button>
            </div>
        </div>
    </div>
</section>