<section class="navbar-panel">
    <div class="container">
        <nav class="navbar-panel__nav nav-subnav">
            <ul class="list-reset nav-subnav__list">
                <li class="nav-subnav__item">
                    <a href="#" class="btn-reset btn nav-subnav__btn">Nature</a>
                </li>
                <li class="nav-subnav__item">
                    <a href="#" class="btn-reset btn nav-subnav__btn">Photography</a>
                </li>
                <li class="nav-subnav__item">
                    <a href="#" class="btn-reset btn nav-subnav__btn">Relaxation</a>
                </li>
                <li class="nav-subnav__item">
                    <a href="#" class="btn-reset btn nav-subnav__btn">Vacation</a>
                </li>
                <li class="nav-subnav__item">
                    <a href="#" class="btn-reset btn nav-subnav__btn">Travel</a>
                </li>
                <li class="nav-subnav__item">
                    <a href="#" class="btn-reset btn nav-subnav__btn">Adventure</a>
                </li>
            </ul>
        </nav>
    </div>
</section>