// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
    --color-body-bg: #f7f7f7;
    --color-light: #ffffff;
    --color-ebony: #2e2e2e;
    --color-rollingstone: #768088;
    --color-alto: #dedede;
    --color-primary: #dd783f;
    --color-corribean: #00B899;

    // радиус границ
    --border-radius: 3px;
  
}
